#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.addAlbum{
  height: 100vh;
  width: var(--app-width);
  display: flex;
  flex-direction: row;
}

.inputForm{
  height: 100vh;
  width: var(--app-width);
  display: flex;
  flex-direction: column;
}

#top-row{
  width: 100%;
  display: flex;
  flex-direction: row;
  column-gap: 50px;
}


#input-cover{
  height:250px;
  aspect-ratio: 1 / 1;
  background-color: var(--cover-placeholder);
  color: var(--cover-placeholder);
  border-radius: 10px;
  font-size: 0px;
  display: flex;
  
  
}

#meta-inputs{
  display:flex;
  flex-direction: column;
  align-self: center;
  gap: 20px;
}

#meta-inputs > *{
  height: var(--text-input-height);
  width: 20vw;
  align-self: center;
}
#meta-inputs > p{
  margin-top: 0;
  font-size: 20px;
  font-weight: bold;
}

#submit-input{
  height: 2em;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  align-items: center;

  display: flex;
}

#mid-row{
  margin-top: 15px;
  display: flex;
  gap: 10px;
  height: 100%;
}

.mid-row-wrapper{
  border-radius: 15px 15px 0px 0px;
  border: 2px solid rgba(87, 87, 87, 0.404);
  width: 45%;
  height: 100%;
  display: flex;
  
}

:root{
  --app-width: 40vw;
  --text-input-height: 2em;
  --cover-placeholder: aliceblue;
}