#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.addAlbum{
  height: 100vh;
  width: var(--app-width);
  display: flex;
  flex-direction: row;
}

.inputForm{
  height: 100vh;
  width: var(--app-width);
  display: flex;
  flex-direction: column;
}

#top-row{
  width: 100%;
  display: flex;
  flex-direction: row;
  column-gap: 50px;
}


#input-cover{
  height:250px;
  aspect-ratio: 1 / 1;
  background-color: var(--cover-placeholder);
  color: var(--cover-placeholder);
  border-radius: 10px;
  font-size: 0px;
  display: flex;
  
  
}

#meta-inputs{
  display:flex;
  flex-direction: column;
  align-self: center;
  gap: 15px;
}

#meta-inputs > *{
  height: var(--text-input-height);
  width: 20vw;
  align-self: center;
}
#meta-inputs > p{
  margin-top: -20px;
  margin-bottom: 0px;
  font-size: 20px;
  font-weight: bold;
}

.buttons{
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: blue 0.25s;
}

#mid-row{
  margin-top: 15px;
  display: flex;
  gap: 10px;
  height: auto;
  margin-bottom: 50px;
}

.mid-row-wrapper{
  border: 2px solid;
  border-image: linear-gradient(to bottom, #4d4d4d 0%, #242424 100%) 1;
  align-content: center;
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.table-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 100%;
}
.table-wrapper > * > *{
  width: 100%;
  display: flex;
}
.table-wrapper > * > * > *{
  width: 100%;
  display: flex;
}


:root{
  --app-width: 40vw;
  --text-input-height: 2em;
  --cover-placeholder: aliceblue;
}